header#header-cases{
    flex-direction: column;
    align-items: flex-start;
    clip-path: polygon(0% 100%,100% 60%,100% 0%,0% 0% ,0% 0);
    -webkit-clip-path: polygon(0% 100%,100% 60%,100% 0%,0% 0% ,0% 0);
    position: absolute;
    z-index: 2;
    background: linear-gradient(180deg, #FFFFFF 0%, #F3F3F3 61.46%, #D4D4D4 99.97%, #B5B5B5 99.98%, #1E76B5 99.99%, #0064AB 99.99%, #3483BC 100%);
    width: 100%;
    min-height: 350px;
}

header#header-cases.detalhe{
    min-height: 150px;
}

header#header-cases .main-div-header{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header#header-cases .header-tittle{
    flex: 1;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header#header-cases .header-tittle h1{
    color: #0064AB;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    transition: 0.5s;
    transform: translateX(200%);
}

header#header-cases .logo{
    display: flex;
}

/*menu fullscreen*/

header#header-cases.on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #d2d2d2;
    z-index: 10;
    clip-path: none;
}

/*MAIN*/


main#main-cases .content-cases-img{
    background-image: url('../../assets/content/partnership.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 10% 0;
    clip-path: polygon(0% 90%,100% 100%,100% 0%,0% 0% ,0% 0);
    -webkit-clip-path: polygon(0% 90%,100% 100%,100% 0%,0% 0% ,0% 0);
}

main#main-cases .content-cases-img h3{
    color: #C9C9C9;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

main#main-cases .content-cases-img p{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 20px;
    color: #E9E9E9;
}

main#main-cases .content-list-cases{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0;
}

main#main-cases .cases-card{
    max-width: 350px;
    margin: 20px;
    box-shadow: -5px 5px 5px #d2d2d2;
}

main#main-cases .cases-card-title{
    background: #0064AB;
    width: 50%;
    border-radius: 0 8px 0 0;
    font-weight: bold;
    color: #eaeaea;
    padding: 10px 10px 0;
}

main#main-cases .cases-card-content{
    background: #757272;
    height: 300px;
    cursor: pointer;
}

main#main-cases .cases-card-content img{
    height: 100%;
}

main#main-cases .cases-card-span{
    height: 100px;
    background: #505050;
    color: #DFDFDF;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}



/*MODAL*/

.box-modal-cases{
    height: 100%;
    width: 100%;
    background: #000000d4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;
}

.box-modal-cases .box-modal-content{
    width: 80%;
    height: 90%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: fit-content;
}

.box-modal-cases .box-modal-content .border{
    display: flex;
    flex-direction: column;
    margin: 30px 32px;
    height: 90%;
}

.box-modal-cases .box-modal-content div{
    display: flex;
}

.box-modal-cases .box-modal-content .border div:nth-child(1){
    height: 70%;
}

.box-modal-cases .box-modal-content .border div:nth-child(1) img{
    width: 100%;
    object-fit: cover;
  }
  
  .box-modal-cases  .box-modal-content .border div:nth-child(2){
      background:  #0064AB;
      display: flex;
      text-align: center;
      color: #eaeaea;
      flex: 1;
      padding: 20px 40px;
  }
  
  .box-modal-cases .box-modal-content div:nth-child(2) p{
    align-self: center;
  }
  
  .box-modal-cases .box-modal-content div:nth-child(3){
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      color: #565656;
      cursor: pointer;
  }

  .box-modal-cases .box-modal-content #close-modal{
    position: absolute;
    right: 0;
    top:0;
    padding: 10px;
    color: #080808;
    cursor: pointer;
}

  .box-modal-cases .loading-modal{
    position: absolute;
    background: #FFFFFF;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-modal-cases .loading-modal span{
    background: url('../../assets/icons/loading.svg');
    display: flex;
    height: 100px;
    width: 100px;
}