header#header-parceiros{
    flex-direction: column;
    align-items: flex-start;
    clip-path: polygon(0% 100%,100% 60%,100% 0%,0% 0% ,0% 0);
    -webkit-clip-path: polygon(0% 100%,100% 60%,100% 0%,0% 0% ,0% 0);
    position: absolute;
    z-index: 2;
    background: linear-gradient(180deg, #FFFFFF 0%, #F3F3F3 61.46%, #D4D4D4 99.97%, #B5B5B5 99.98%, #1E76B5 99.99%, #0064AB 99.99%, #3483BC 100%);
    width: 100%;
    min-height: 350px;
}

header#header-parceiros.detalhe{
    min-height: 150px;
}

header#header-parceiros div:first-child{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header#header-parceiros div:last-child{
    flex: 1;
    width: 80%;
    margin: 0 auto;
}

header#header-parceiros div:last-child h1{
    color: #0064AB;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}



main#main-parceiros{
    
}

main#main-parceiros .content-parceiros-img{
    background-image: url('../../assets/content/partnership.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 10% 0;
    clip-path: polygon(0% 90%,100% 100%,100% 0%,0% 0% ,0% 0);
    -webkit-clip-path: polygon(0% 90%,100% 100%,100% 0%,0% 0% ,0% 0);
}

main#main-parceiros .content-parceiros-img h3{
    color: #C9C9C9;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

main#main-parceiros .content-parceiros-img p{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 20px;
    color: #E9E9E9;
}

main#main-parceiros .content-list-parceiros{
    min-height: 500px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    margin: 40px 0 60px 0;
    display: flex;
}

main#main-parceiros .content-list-parceiros .list-parceiros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

main#main-parceiros .content-list-parceiros .list-parceiros img{

}