@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  margin:0;
  padding:0;
  outline: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font: 1.6rem Roboto, sans-serif;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  display: grid;
}

img{
  max-width: 100%;
  display: block;
}

h1{
  font-family: ubuntu, Roboto, sans-serif;
}

ul, li, a{
  list-style: none;
  text-decoration: none;
}

p{
  padding: 0;
}

button{
  cursor: pointer;
}

/*
HEADER GERAL
**/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main-menu{
  flex: 1;
}

header .main-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .main-menu li{
  margin-left: 40px;
}

header .main-menu a{
  font-size: 13px;
  line-height: 15px;  
  color: #818181;
  font-style: normal;
  font-weight: normal;
  transition: color 400ms;
}

header .main-menu a:hover{
  color: #c7c7c7;
}

/*FORMULARIOS E INPUTS*/

form input, form textarea, form select{
  resize: vertical;
  line-height: 24px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-size: 14px;
}

form label{
  color: #565656;
  font-weight: bold;
  margin: 0 20px;
}

form input[type=button],[type=submit]{
  background: #18405C;
  border-radius: 7px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

/*animação hover botão*/

@keyframes hoverButton {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn{
  border: 1px solid;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #F7F7F7;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.4s;
}

.btn.download{
  font-size: 16px;
  padding: 15px 45px;
  background: linear-gradient(-45deg, #FF9F2F, #e98717, #f98805, #f3bf83);
  background-size: 400% 400%;
  border: 1px solid #C56C03;
}

.btn.download:hover{
  transform: scale(1.1);
  animation: hoverButton 2s linear infinite;
}

.btn.edit{
  background: #FF9F2F;
  border: 1px solid #C56C03;
  width: 50%;
}

.btn.cancel{
  background: #dd0404;
  border: 1px solid #b82b00;
  width: 50%;
}

.btn-edit, .btn-delete{
  border: none;
  padding: 5px;
  border-radius: 7px;
  transition: 400ms;
  margin-right: 20px;
}

.btn-edit{
  background: #FF9F2F;
}

.btn-edit:hover{
  background: #e97e03;
}

.btn-delete{
  background: #a00702;
}

.btn-delete:hover{
  background: #690401;
}


.btn-edit span, .btn-delete span{
  display: flex;
  height: 18px;
  width: 18px;
}

.btn-edit span{
  background: url('./assets/icons/edit.svg') no-repeat;
}

.btn-delete span{
  background: url('./assets/icons/delete.svg') no-repeat;
}

/*
FOOTER
*/


footer{
  width: 100%;
  background: #075a99;
  color: #D2D2D2;
  display: flex;
  flex-direction: column;
}
footer .inform{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
footer .social{
  padding: 0px;
}

footer .social h1{
  font-size: 14px;
  color: #D2D2D2;
}

footer .social >div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

footer .social >div h1{
  margin: 10px 20px 0 0
}

footer .address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .address >div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  flex: 1;
}

footer .address >div img {
  max-height: 20px;
}

footer .address h2{
  margin-left: 10px;
  font-size: 14px;
  line-height: 15px; 
  font-weight: 300;
}

footer .logo-white{
    width: 80%;
    margin: 0 auto;
}

footer .logo-white img {
  max-height: 80px;
}

@keyframes move {
  0% {bottom: 10px;}
  50% {bottom: 30px;}
  100% {bottom: 20px;}
}

.top{
    border: 1px solid;
    margin: 10px 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    background: #0000007a;
    box-shadow: 3px 3px 7px #0000008c;
    cursor: pointer;
    opacity: 0;
    transition: all 400ms;
}

.top:hover{
  background: #00000089;
  animation: move 0.7s linear;
}

.top span{
  background: url('./assets/icons/arrow_up.svg') no-repeat;
  display: flex;
  width: 35px;
  height: 35px;
}

footer .copy{
  padding: 40px;
  border-top: 1px solid #f0efef4d;
  margin-top: 20px;
  background-color: #053b65;
}

footer .copy p{
  font-size: 12px;
}